<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cast</title>
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <%- include('../partial/bootstrap') %> 
</head>
<body>
    <%- include('../partial/navbar') %> 
    <h1>List Cast</h1>

    <a href="casts/add"><button>ADD CAST</button></a>
    
    <table border="1" style="text-align: center;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth Year</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.getFullName() %></td>
                    <td><%= el.birth_year %></td>
                    <td><%= el.phone_number %></td>
                    <td><%= el.gender %></td>
                    <td>
                        <div class="popup" onclick="myFunction()">
                            <a href="casts/<%= el.id %>/edit"><button>EDIT</button></a>
                            <a href="casts/<%= el.id %>/delete" onclick="return confirm('Are you sure?')"><button>DELETE</button></a>
                            <a href="casts/movies/<%= el.id %>?name=<%= el.getFullName() %>"><button>SEE MOVIES</button></a>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>