<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        thead {
            background-color: aqua;
        }
    </style>
    <title>Movies</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link active" href="/productionhouses">Production Houses</a>
            <a class="nav-item nav-link active" href="/movies">Movies</a>
            <a class="nav-item nav-link active" href="/casts">Casts</a>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-6"><%= data.fullName() %></h1>
        </div>
    </div>
    <div class="container" style="max-width: 90%;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Released Year</th>
                    <th scope="col">Age when Movie Released</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < data.Movies.length; i++) { %>
                <tr>
                    <th scope="row"><%= data.Movies[i].name %></th>
                    <td><%= data.Movies[i].released_year %></td>
                    <td><%= AgeWhenReleased(data.Movies[i].released_year,data.birth_year) %> years old</td>
                    <td><%= data.Movies[i].MovieCast.role %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>