<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new ph page</title>
    <%- include('partials/style-nav-bar')%>
    <%- include('partials/style-form')%>
</head>
<body>
    <%- include('partials/nav-bar')%>
    <div class="container">
        <h1>ADD NEW PRODUCTION HOUSE</h1>
        <form action="/phouses/add" method="post">
            <div class="row">
                <div class="col-50">
                    <%if (error === 'Nama PH harus diisi') {%>
                        <p><%= error %></p>
                    <%}%>
                    <label>Production House:</label><br>
                    <input type="text" name="name_prodHouse"><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-50">
                    <%if (error === 'Headquarter harus diisi') {%>
                        <p><%= error %></p>
                    <%}%>
                    <label>Headquarter:</label><br>
                    <input type="text" name="headquarters"><br><br>
                </div>
            </div>

            <div class="row">
                <button type="submit">Add</button>
                <button><a href="/phouses">Cancel</a></button>
            </div>
        </form>
    </div>
</body>
</html>

