<!DOCTYPE html>

<head>
    <title>Add Cast</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1><%= dataMovie.name%></h1>
    <br>

    <h2> Add Cast:</h2>
    <form action="/movies/addcast/<%=dataMovie.id%>" method="post">
        <label> Actor :</label>
        <br>
        <select name="cast_id">
            <% for(let j =0; j < dataCast.length;j++) { %>
            <option value="<%= dataCast[j].id%>"> <%=dataCast[j].fullName()%></option>
            <% } %>

        </select>
        <br>
        <label>Roles :</label>
        <br>
        <input type="text" name="roles" placeholder="e.g. Main Roles">
        <br>
        <br>
        <button type="submit">Add Cast</button>
    </form>
    <br>
    <a href="/movies"><button>Back</button></a>

    <h2> Cast List</h2>
    <table border = 1>
        <tr>
            <th>Full Name</th>
            <th>Roles</th>
        </tr>
        <% for(let i =0;i< dataMovie.Casts.length ; i++) { %>
            <tr>
                <td><%= dataMovie.Casts[i].fullName() %></td>
                <td><%= dataMovie.Casts[i].Cast_Movie.roles %></td>
            </tr>
        <% } %>
    </table>

</body>