<%- include ('./partials/header', {title: 'Movie Add Cast'}) %>

<body>
    <h1><%= movie.name %></h1>


    <h2>Add Cast</h2>
    <form action="/movies/<%= movie.id %>/addCast" method="POST">
        <label for="">Actor</label><br>
        <select name="actor" id="">
            <% for (let i = 0; i < cast.length; i++) { %>
                <option value="<%= cast[i].id %>"><%= cast[i].getFullName() %></option>
            <% } %>
        </select><br>
        <label for="">Role</label><br>
        <input type="text" name="role" id="" placeholder="e.g:Pemeran Utama Wanita"><br>
        <button type="submit">Save</button><br>
        <a href="/movies">Cancel</a>
    </form>


    <h3>List Cast</h3>
    <table>
        <th>Actor</th>
        <th>Role</th>
        <% if(data) { %>
            <% for (let i = 0; i < data.length; i++) { %>
                <% for (let j = 0; j < cast.length; j++) { %>
                    <% if(data[i].CastId == cast[j].id) { %>
                        <tr>
                            <td><%= cast[j].getFullName() %></td>
                            <td><%= data[i].role %></td>
                        </tr>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
    </table>
</body>
</html>