<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add movie cast page</title>
    <%- include('partials/style-nav-bar')%>
    <%- include('partials/style-form')%>
    <%- include('partials/style-table')%>
</head>
<body>
    <%- include('partials/nav-bar')%>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>MOVIES</td>
                <td>RELEASED YEAR</td>
                <td>GENRE</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=dataMovie.id%></td>
                <td><%=dataMovie.name%></td>
                <td><%=dataMovie.released_year%></td>
                <td><%=dataMovie.genre%></td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <h3>ADD CAST:</h3>
        <form action="/movies/add-cast/<%=id%>" method="post">
            <div class="row">
                <div class="col-50">
                    <label>Actor:</label><br>
                    <select name="actor">
                        <% for (let i in dataCast) {%>
                            <option value="<%=dataCast[i].id%>"><%=dataCast[i].getFullName()%></option>
                        <%}%>
                    </select><br><br>
                </div>
            </div>

            <div class="row">
                <div class="col-50">
                    <%if (error) {%>
                        <p><%=error%></p> 
                    <%}%>
                    <label>Role:</label><br>
                    <input type="text" name="role"><br><br>
                </div>
            </div>

            <div class="row">
                <button type="submit">Save</button>
                <button><a href="/movies">Cancel</a></button>
            </div>
        </form>
    </div>

    <br><br>
    <table border="1">
        <thead>
            <tr>
                <td>ACTOR</td>
                <td>ROLE</td>
            </tr>
        </thead>
        <tbody>
            <% for (let i in dataMovieCast) {%>
                <tr>
                    <td><%=dataMovieCast[i].Cast.getFullName()%></td>
                    <td><%=dataMovieCast[i].role%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>