<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Cast</title>
  </head>
    <div class="jumbotron">
      <h1 class="display-4">Cast List </h1>
  <body>
    <table class="table table-dark">
  <thead>
    <a href="/cast/addCast"><button type="button">Add Cast</button></a>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Birth Year</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Gender</th>
        <th scope="col">Action</th>
      </tr>
  </thead>

    <% for(let i = 0; i < data.length; i++) {%>
      <tr>
      <td ><%= data[i].name %></td>
      <td ><%=data[i].birth_year%></td>
      <td ><%=data[i].phone_number%></td>
      <td ><%=data[i].gender%></td>
      <td><a href="/cast/<%= data[i].id %>/editCast">Edit</a> <a href="/cast/<%= data[i].id %>/deleteCast">Delete</a> <a href="/cast/<%=data[i].id%>/movieCast">See Movies</a></td>
      <% } %>

  </tr>

  </body>
</html>
