<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/boostrap.ejs') %>
        <title>Casts</title>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <div class="jumbotron">
            <h2 style="padding-bottom: 30px;">List Casts</h2>
            <% if (alert){ %>
                <div style="margin-top: -30px; margin-bottom: 10px;" class="alert alert-<%= alert.type %>" role="alert">
                    <%= alert.message %>
                </div>
            <% } %>
            <a href="/casts/add" class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Cast</a>
            <table style="margin-top: 10px;" class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Birth Year</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <% for(let i = 0; i < casts.length; i++) { %>
                <tbody>
                <tr>
                    <td><%= casts[i].getFullName() %></td>
                    <td><%= casts[i].birth_year %></td>
                    <td><%= casts[i].phone_number %></td>
                    <td><%= casts[i].gender %></td>
                    <td><a href="/casts/<%= casts[i].id %>/edit" type="button" class="btn btn-primary btn-sm">Edit</a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal<%= casts[i].id %>">
                            Delete
                        </button>
                        
                        <!-- MODAL -->
                        <div class="modal fade" id="exampleModal<%= casts[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure ?
                                </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="/casts/<%= casts[i].id %>/delete" type="button" class="btn btn-danger btn-secondary">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <a href="/casts/<%= casts[i].id %>/delete" type="button" class="btn btn-danger btn-sm">Delete</a> -->
                        <a href="/casts/<%= casts[i].id %>/see-movies" type="button" class="btn btn-success btn-sm">See Movies</a>
                    </td>
                </tr>
                </tbody>
                <% } %>
            </table>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>