<!DOCTYPE html>

<head>
    <title>Cast List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1> Cast's List</h1>
    <a href='/casts/add'><button>Register Cast</button></a>
    <a href='/'><button>Back</button></a>
    <br>
    <br>
    <table border=1>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Birth Year</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
        <% for(let i = 0 ; i < data.length; i++){ %>
        <tr>
            <td><%= data[i].fullName() %></td>
            <td><%= data[i].phone_number %></td>
            <td><%= data[i].birth_year %></td>
            <td><%= data[i].gender %></td>
            <td>
                <a href="casts/edit/<%=data[i].id%>"><button>Edit</button></a> |
                <button type="button" data-toggle="modal"
                    data-target="#exampleModalLong">Delete</button> | 
                <a href="casts/seemovies/<%=data[i].id%>"><button>See Movies</button></a>
            
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>   
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete?
                            </div>
                            <div class="modal-footer">
                                <a href="/casts/delete/<%=data[i].id%>"><button type="button" class="btn btn-primary">Delete</button></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        <% } %>
    </table>
    </script>
</body>