<%- include('partials/header') %>

<form action="/movies/edit/<%= data.id %> " method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="e.g.: 12 Angry Men" name="name" value="<%= data.name %>" required>
  </div>
  <div class="form-group">
    <label for="released_year">Released Year</label>
    <input type="number" class="form-control" id="released_year" placeholder="e.g.: 1957" name="released_year" value="<%= data.released_year %>" required>
  </div>
  <div class="form-group">
    <label for="genre">Genre</label>
    <select class="custom-select" id="genre" name="genre" required>
        <option disabled selected>Open this select menu</option>
        <option value="animation" <% if(data.genre === 'animation'){ %> <%= 'selected' %> <% } %>>animation</option>
        <option value="comedy" <% if(data.genre === 'comedy'){ %> <%= 'selected' %> <% } %>>comedy</option>
        <option value="drama" <% if(data.genre === 'drama'){ %> <%= 'selected' %> <% } %>>drama</option>
        <option value="horror" <% if(data.genre === 'horror'){ %> <%= 'selected' %> <% } %>>horror</option>
        <option value="religious" <% if(data.genre === 'religious'){ %> <%= 'selected' %> <% } %>>religious</option>
        <option value="thriller" <% if(data.genre === 'thriller'){ %> <%= 'selected' %> <% } %>>thriller</option>
      </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>  <a class="btn btn-danger" href="/movies" role="button">Cancel</a>
</form>

<%- include('partials/footer') %>