<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/boostrap.ejs') %>
        <title>Edit Cast</title>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        
        <div class="jumbotron">
            <% if (error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error.msg %>
                </div>
            <% }%>
            <form action="/casts/:id/edit" method="POST">
                <div class="form-group">
                    <label hidden for="exampleInputEmail1">ID</label>
                    <input type="text" name="id" class="form-control" id="exampleInputEmail1" autofocus aria-describedby="emailHelp" hidden readonly value="<%= casts.id %>" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" autofocus placeholder="e.g: 12 Angry Men" aria-describedby="emailHelp" value="<%= casts.first_name %>" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" autofocus placeholder="e.g: 12 Angry Men" aria-describedby="emailHelp" value="<%= casts.last_name %>" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Birth Year</label>
                    <input type="text" name="birth_year" class="form-control" id="exampleInputEmail1" placeholder="e.g: 1957" aria-describedby="emailHelp" value="<%= casts.birth_year %>">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone Number</label>
                    <input type="text" name="phone_number" class="form-control" id="exampleInputEmail1" placeholder="e.g: 1957" aria-describedby="emailHelp" value="<%= casts.phone_number %>">
                </div>
                
                <!-- radio -->
                <label class="form-check-label" for="Gender">
                    Gender
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="male" <%= casts.gender === "male" ? "checked" : "" %> >
                    <label class="form-check-label" for="male">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="female" <%= casts.gender === "female" ? 'checked' : "" %>>
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button> <a href="/casts" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </body>
</html>