<%- include('partials/header', { title: 'Edit Cast' }) %>

<a class="btn btn-primary btn-lg" href="/" role="button">Go back to Home Page</a>
<a class="btn btn-primary btn-lg" href="/cast" role="button">Go back to Cast List</a>
<br><br>
<form action="/cast/edit/<%= object.id %>" method="POST">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="first_name" value="<%= object.first_name %>">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="last_name" value="<%= object.last_name %>">
    </div>
    <div class="form-group">
        <label for="birth">Birth Year</label>
        <input type="number" class="form-control" id="birth" name="birth_year" min="1000" max="3000" value="<%= object.birth_year %>">
      </div>
      <div class="form-group">
        <label for="Phone">Phone Number</label>
        <input type="tel" class="form-control" id="Phone" name="phone_number" value="<%= object.phone_number %>">
      </div>
    <div class="form-group">
        <p>Gender</p>
        <input type="radio" id="male" name="gender" value="male" <%= object.gender == 'male' ? 'checked' : '' %>>
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female" <%= object.gender == 'female' ? 'checked' : '' %>>
        <label for="female">Female</label>
    </div>
    <button class="btn btn-primary" type="submit"> Save </button>
    <a class="btn btn-danger" href="/cast" role="button">Cancel</a>
</form>

<%- include('partials/footer') %>