<%- include('partials/header', { title: 'Movie List' }) %>

<a class="btn btn-primary btn-lg" href="/" role="button">Go back to Home Page</a>
<a class="btn btn-primary btn-lg" href="/movie/add" role="button">Add Movie</a>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Released Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Production House</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% object.forEach(item => { %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.released_year %></td>
        <td><%= item.genre %></td>
        <td><%= item.ProductionHouseId == null? 'unknown' : item.productionHouse.name_prodHouse %></td>
        <td>
          <a class="btn btn-primary btn-sm" href="/movie/edit/<%= item.id %>" role="button">Edit</a>
          <a class="btn btn-danger btn-sm" href="/movie/delete/<%= item.id %>" role="button">Delete</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('partials/footer') %>