<%- include('./partial/header')%>
<div style="margin-left:92%;">
<a class="btn btn-primary" href="/movies/add" role="button">Add Button</a>
</div>
<table class="table" border="1">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Released Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Production House</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody
    <% for(i = 0; i < data.length ; i++ ) { %>
        <tr>
            <td><%= data[i].name %></td>
            <td><%= data[i].released_year %></td>
            <td><%= data[i].genre %></td>
            <% if(!data[i].ProductionHouseId) { %>
                <td>Unknown</td>
            <% }else { %>
                <td><%= data[i].ProductionHouse.name_prodHouse %></td>
            <% } %>
            <td><a href="/movies/edit/<%= data[i].id %>">Edit</a>|<a href="/movies/delete/<%= data[i].id %>">Delete</a></td>
          </tr>
    <% } %>
    </tbody>
  </table>
</body>
<%- include('./partial/footer')%>