<html>
    <head>
        <%- include('partials/bootstrap') %>
        <title>Movies</title>
    </head>
    <body>
        <%- include('partials/navbar') %> 
        
        <h1 style="text-align: center;">Movies</h1>
        <p style="text-align: right;"><a href="/movies/add">Add movie</a></p>
        <table class="table table-sm">
            <thead class="table-info">
              <tr>
                <th scope="col">Movie Name</th>
                <th scope="col">Released Year</th>
                <th scope="col">Genre</th>
                <th scope="col">Production House</th>
                <th scope="col">Rating</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<data.length; i++) { %>
              <tr>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].released_year %></td>
                    <td><%= data[i].genre %></td>
                    <td><%= data[i].ProductionHouse.name_prodHouse %></td>
                    <td><%= data[i].rating %></td>
                    <td>
                        <button ><a href="/movies/edit/<%= data[i].id %>" >Edit</a></button> || 
                        <button><a href="/movies/delete/<%= data[i].id %>">Delete</a></button> ||
                        <button><a href="/movies/addCast/<%= data[i].id %>">Add Cast</a></button>
                    </td>
              </tr>
            </tbody>
            <% } %>
          </table>
    </body>
</html>