<!DOCTYPE html>

<head>
    <title>Movie List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
    <h1> Movie's List</h1>
    <a href="movies/add"><button>Register Movie</button></a>
    <a href="/"><button>Back</button></a>
    <br>
    <br>
    <table border=1>
        <tr>
            <th>Movie Title</th>
            <th>Released Year</th>
            <th>Genre</th>
            <th>Production House</th>
            <th>Action</th>
        </tr>
        <% for(let i = 0 ; i < data.length; i++) { %>
        <tr>
            <td><%=data[i].name%></td>
            <td><%=data[i].released_year%></td>
            <td><%=data[i].genre%></td>
            <td><% if( data[i].ProductionHouseId == null) { %>
                <%= status %>
                <% } else { %>
            <%= data[i].ProductionHouse.prodHouse_name %>
            <% } %>
            </td>
            <td><a href="movies/edit/<%=data[i].id%>"><button>Edit</button></a> | <a href="movies/delete/<%=data[i].id%>"><button>Delete</button></a>
         | <a href="/movies/addcast/<%=data[i].id%>"><button> Add Cast</button></a></td>
        </tr>
        <% } %>
    </table>
</body>