<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list movies</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/phouses">List Production Houses</a></li>
            <li><a href="/casts">List Casts</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    
    <h1>LIST MOVIES</h1>

    <form action="/movies/:id" method="post">
        <label>Search Movie by Id</label> <br>
        <input type="text" name="movie_by_id"><br>
        <button type="submit">Search</button> <br><br>
    </form>

    <button><a href="/movies/add">Add new movie</a></button>

    <%if(pesan){%>
        <%=pesan%>
    <%}%>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>MOVIES</td>
                <td>RELEASED YEAR</td>
                <td>GENRE</td>
                <td>PRODUCTION HOUSE</td>
                <td colspan="2">ACTION</td>
            </tr>
        </thead>
        <tbody>
            <%for (let i in dataMovies) {%>
                <tr>
                    <td><%=dataMovies[i].id%></td>
                    <td><%=dataMovies[i].name%></td>
                    <td><%=dataMovies[i].released_year%></td>
                    <td><%=dataMovies[i].genre%></td>
                    <% if (dataMovies[i].ProductionHouseId === null) {%>
                        <td>Unknown</td>
                    <%}%>

                    <% if (dataMovies[i].ProductionHouseId !== null) {%>
                        <td><%=dataMovies[i].ProductionHouse.name_prodHouse%></td>
                    <%}%>

                    <td><button><a href="/movies/edit/<%=dataMovies[i].id%>">EDIT</a></button></td>
                    <td><button><a href="/movies/delete/<%=dataMovies[i].id%>">DELETE</a></button></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>