<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <br>
  <h1 align="left">List Movies</h1>
  <% if(alert.message){ %>
    <div class="alert alert-success" role="alert">
        <%= alert.message %>
    </div>
<% } %>
  <div class="container-fluid text-right mb-1">
    <a href="/movies/add"><button type="button" class="btn btn-success">Add Movie</button></a>
  </div>
  <% if (data.length) { %>
    <table class="table table-sm table-dark">
      <thead class="table table-sm table-dark">
        <tr>
          <th scope="col">Movie</th>
          <th scope="col">Released Year</th>
          <th scope="col">Genre</th>
          <th scope="col">Production House</th>
          <th scope="col" style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody class="table table-sm table-light">
      <% for(let i = 0; i < data.length; i++){ %>
        <tr>
          <td><%= data[i].name %></td>
          <td><%= data[i].released_year %></td>
          <td><%= data[i].genre %></td>
          <% if(!data[i].ProductionHouseId){ %>
            <td>unknown</td>
          <% } else { %>
            <td><%= data[i].ProductionHouse.name_ProdHouse %></td>
          <% } %>
          <td style="text-align: right;">
            <a href="/movies/edit/<%=data[i].id%>"><button type="button" class="btn btn-primary">Edit</button></a>  
            <a href="/movies/delete/<%=data[i].id%>" onclick="return confirm('Delete this?')"><button type="button" class="btn btn-primary">Delete</button></a>  
            <a href="/movies/addcast/<%=data[i].id%>"><button type="button" class="btn btn-primary">Add Cast</button></a>  
          </td>
      <% } %>
    </tbody>
  </table>
  <% }else{ %>
    <div class="alert alert-dark" role="alert">
      <h3 style="text-align: center;">List not found!!</h3>
    </div>
    <%}%>
    </tbody>
  </table>
</body>
</html>