</select>
    <body>
        <h1>Movies</h1>
        <%- include('../partials/navbar.ejs') %>
        
        <table border = "2">
            <thead>
                <tr>
                    <th>ID </th>
                    <th>Movie</th>
                    <th>Released Year</th>
                    <th>Genre</th>
                    <th>Production House</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <% data.forEach(el=>{ %>
                <tr>
                    <td><%= el.id %></td>
                    <td><%= el.name %></td>
                    <td><%= el.released_year %></td>
                    <td><%= el.genre %></td>
                    <td><% if(el.productionHouseId === null){ %>
                        <%= "Unknown" %>
                        <% }else{%>
                        <%= el.productionHouseId %> <%=el.ProductionHouse.name_prodHouse %></td>
                        <% } %>
                    <td>
                    <a href="/mv/<%= el.id %>/edit"><button>Edit</button></a>
                    <a href="/mv/<%= el.id %>/delete" onclick="return confirm('Are you sure?')"><button>Delete</button></a>
                    <a href="/mv/<%= el.id %>/addcast"><Button>Add Cast</Button></a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <a href='/mv/add'><button>ADD more Movie</button></a>
    </body>



</html>