<!DOCTYPE html>
<html lang=eng>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>Movies</title>
    </head>

    <body>
        <h1>Edit Movie</h1>
        <form action='/mv/<%=data.id%>/edit' method='post'>
            <br>
            <label for = "">Name</label>
            <br>
            <input type="text" name="name" value="<%= data.name %>"> 
            <br> 
            <label for = "">Released Year</label>
            <br>
            <input type="text" name="released_year" value="<%= data.released_year %>"> 
            <br> 
            <label for="genre">Genre : Default : <%= data.genre %> </label><br>
                <select name="genre">
                  <% const listgenres =['','Animation','Comedy','Drama','Horror','Religious','Thriller'] %>
                  <% for(let i =0; i < listgenres.length ; i++) { %>
                      <option value="<%= listgenres[i] %>"><%= listgenres[i] %></option>
                    <% } %>
                </select>
            <br>
            <label for="production_house">Production House : Default : <%= data.ProductionHouse.name_prodHouse %></label><br>
                <select name="ph">
                    <% const listPH =['','Walt Disney Studios','Pixar','Warner Bros','Universal Pictures','Paramount Picture'] %>
                    <% for(let i =0; i<listPH.length;i++){ %>
                          <option value="<%= listPH[i] %>"><%= listPH[i] %></option>
                      <% } %>
                </select>
            <br>
            <br>

            <button type = "Submit"> Submit </button>
        </form>





    </body>



</html>