<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ph by id page</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/movies">List Movies</a></li>
            <li><a href="/phouses">List Production Houses</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    
    <h1>PRODUCTION HOUSE BY ID</h1>
    
    <% if (pesan) {%>
        <h4><%=pesan%></h4>
    <%}%>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>PRODUCTION HOUSE</td>
                <td>HEADQUARTER</td>
                <td colspan="2">ACTION</td>
            </tr>
        </thead>
        <tbody>
            <%for (let i in dataById) {%>
                <tr>
                    <td><%=dataById[i].id%></td>
                    <td><%=dataById[i].name_prodHouse%></td>
                    <td><%=dataById[i].headquarters%></td>
                    <td><button><a href="/phouses/edit/<%=dataById[i].id%>">EDIT</a></button></td>
                    <td><button><a href="/phouses/delete/<%=dataById[i].id%>">DELETE</a></button></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</body>
</html>