<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <%- include('partials/styles') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <h1>Production Houses</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Headquarters</th>
                </tr>
            </thead>
            <tbody>
                <% productionHouses.forEach(productionHouse => { %>
                    <tr>
                        <td><%= productionHouse.nameProdHouse %></td>
                        <td><%= productionHouse.headquarters %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <%- include('partials/scripts') %>
</body>
</html>