<div class="container w-25 p-3 text-center">
    <form action="" method="POST">
        <div class="form-group"> 
            <label>Movie Title</label>
            <input type="text" class="form-control" name="name" placeholder="e.g. Avenger End Game"
                value="<%= list ? list.name : '' %>"
            >
        </div>
        <div class="form-group">
            <label>Released Year</label>
            <input type="text" class="form-control" name="released_year" placeholder="e.g. 2000"
                value="<%= list ? list.released_year : '' %>"
            >
        </div>
        <div class="form-group">
            <label for="genre">Genre</label><br>
            <select name="genre">
                <option value="" <%= (list && list.genre == '') ? 'selected' : '' %>
                    >-- Select --</option>
                <option value="animation" <%= (list && list.genre == 'animation') ? 'selected' : '' %>
                    >Animation</option>
                <option value="comedy" <%= (list && list.genre == 'comedy') ? 'selected' : '' %>
                    >Comedy</option>
                <option value="drama" <%= (list && list.genre == 'drama') ? 'selected' : '' %>
                    >Drama</option>
                <option value="horror" <%= (list && list.genre == 'horror') ? 'selected' : '' %>
                    >Horror</option>
                <option value="religious" <%= (list && list.genre == 'religious') ? 'selected' : '' %>
                    >Religious</option>
                <option value="thriller" <%= (list && list.genre == 'thriller') ? 'selected' : '' %>
                    >Thriller</option>
            </select>
        </div>
        <div class="form-group">
            <label for="genre">Production House</label><br>
            <select name="name_prodHouse">
                <option value="" <%= (list && list.ProductionHouse.name_prodHouse == '') ? 'selected' : '' %>
                    >-- Select --</option>
                <option value="Walt Disney Studios" <%= (list && list.ProductionHouse.name_prodHouse == 'Walt Disney Studios') ? 'selected' : '' %>
                    >Walt Disney Studios</option>
                <option value="Pixar" <%= (list && list.ProductionHouse.name_prodHouse == 'Pixar') ? 'selected' : '' %>
                    >Pixar</option>
                <option value="Warner Bros" <%= (list && list.ProductionHouse.name_prodHouse == 'Warner Bros') ? 'selected' : '' %>
                    >Warner Bros</option>
                <option value="Universal Pictures" <%= (list && list.ProductionHouse.name_prodHouse == 'Universal Pictures') ? 'selected' : '' %>
                    >Universal Pictures</option>
                <option value="Paramount Pictures" <%= (list && list.ProductionHouse.name_prodHouse == 'Paramount Pictures') ? 'selected' : '' %>
                    >Paramount Pictures</option>
            </select>
        </div>
        <div class="form-group">
            <br><button type="menu" class="btn btn-danger">Submit</button>
            <a href="/movie" class="btn btn-warning" role="button" aria-pressed="true">Cancel</a>
        </div>
    </form>
</div>