<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie</title>
    <%- include('../partial/bootstrap') %> 
</head>
<body>
    <%- include('../partial/navbar') %> 
    <h1>List Movies</h1>

    <a href="movies/add"><button>ADD MOVIE</button></a>
    
    <table border="1" style="text-align: center;">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Released Year</th>
                <th>Genre</th>
                <th>Production House</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.name %> </td>
                    <td><%= el.released_year %> </td>
                    <td><%= el.genre %> </td>
                    <% if (el.ProductionHouse.name_prodHouse) { %>
                        <td><%= el.ProductionHouse.name_prodHouse %> </td>
                    <% } else { %>
                        <td>Unknown</td>
                    <% } %> 
                    <td>
                        <a href="movies/<%= el.id %>/edit"><button>EDIT</button></a>
                        <a href="movies/<%= el.id %>/delete"><button>DELETE</button></a>
                        <a href="movies/casts/<%= el.id %>?name=<%= el.name %>"><button>ADD CAST</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>